%h1= @user.new_record? ? "Create an Account" : "Edit Your Account"

- form_for @user, :url => account_path do |f|
  = f.error_messages

  %fieldset
    = f.label :login
    = f.text_field :login
  %fieldset
    = f.label :password, f.object.new_record? ? nil : "Change password"
    = f.password_field :password
  %fieldset
    = f.label :password_confirmation
    = f.password_field :password_confirmation

  - if f.object.new_record?
    %fieldset
      = recaptcha_tags

  %fieldset.buttons
    = f.submit f.object.new_record? ? "Create" : "Update"


%p= link_to "My Profile", account_path
