!!!
%html{}
  = render :partial => 'layouts/chunks/template_header'

%body{:id => controller_name, :class => "#{controller_name}_#{action_name}"}
  = render :partial => 'layouts/chunks/header'
  #content
    - if flash_message?
      #flash_msgs= flash_messages

    = yield 